:root {
  --primary: hsl(28, 100%, 70%);
  --danger: hsl(8, 77%, 50%);

  --whiteLightness: 100%;
  --blackLightness: 15%;
  --textLightness: calc(var(--blackLightness) + 25%);
  --borderLightness: calc(var(--blackLightness) + 75%);

  --white: hsl(0, 0%, var(--whiteLightness));
  --black: hsl(0, 0%, var(--blackLightness));
  --shadow: hsla(0, 0%, var(--blackLightness), 0.1);
  --text-color: hsl(0, 0%, var(--textLightness));
  --border: hsl(0, 0%, var(--borderLightness));

  --modal-animation-time: 300ms;
  --swipe-animation-time: 300ms;

  --swipe-animation-exit-percent: 5%;
  --swipe-animation-enter-percent: 95%;

  --family: 'Rubik', sans-serif;
  --sizeM: 16px;
  --sizeL: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --whiteLightness: 10%;
    --blackLightness: 100%;
    --textLightness: calc(var(--blackLightness) - 25%);
    --borderLightness: calc(var(--blackLightness) - 75%);
  }
}

body {
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100dvh;
  font-family: var(--family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--sizeM);

  /* root */
  .content {
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--white);

    & > div {
      width: 100%;
    }
  }

  & * {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
  }
}

a,
button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-size='small'] {
    padding: 6px;
    border-radius: 10px;
  }

  &[data-name='primary'] {
    background-color: var(--primary);
    color: var(--white);
  }

  &[data-name='secondary'] {
    background-color: var(--white);
    color: var(--text-color);
  }

  &[data-action='delete'] {
    color: var(--danger);
    border: 1px solid var(--danger);
  }
}

input {
  height: 32px;
  max-height: 32px;
  padding: 10px;
  border-radius: 12px;
  font-size: var(--sizeM);
  outline: none;
  border: 1px solid var(--border);
  color: var(--text-color);
  background-color: var(--white);

  &:disabled {
    background-color: var(--shadow);
  }

  &[type='text'] {
    min-width: 70px;
  }

  &[type='date'] {
    width: 130px;
  }

  &[type='time'] {
    min-width: 70px;
    width: fit-content;
  }

  &[type='checkbox'] {
    width: 32px;
    height: 32px;
  }
}
