.switch {
  // background-color: #f2f2f2;
  background-color: var(--primary);
  border-radius: 0.7rem;
  padding: 2px;
  display: flex;

  button {
    border-radius: inherit;
    padding: 0.2rem 1.5rem;
    font-size: 1rem;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;

    &:not(&[data-active='true']) {
      background-color: inherit;
      color: white;
    }

    &[data-active='true'] {
      background-color: white;
      color: var(--primary);
    }
  }
}
