.weekCalendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  transition:
    transform var(--swipe-animation-time) linear,
    opacity calc(var(--swipe-animation-time) * 0.5) linear;
  will-change: transform, opacity;
}
