.calendarHeader {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--text-color);

  svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--primary);

    &[aria-disabled='true'] {
      cursor: default;
      opacity: 0.3;
    }
  }

  span {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
