.eventBadge {
  position: relative;
  background-color: var(--primary);
  color: var(--white);

  &.isFullWidth {
    justify-content: flex-start;
    font-weight: bold;
    padding: 8px;
    border-radius: 12px;
    flex: 1;
    @include ellipsis;
  }

  &:not(.isFullWidth) {
    display: flex;
    align-items: center;
    justify-content: center;
    // Do not change! This is especial size for emojis
    font-size: 12px;
    width: 20px;
    height: 20px;
    padding: 1px 1px 2px;
    border-radius: 6px;
  }
}

.tooltip {
  background-color: var(--primary);
  color: var(--white);
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;

  & > svg {
    fill: var(--primary);
  }

  & button {
    padding: 4px;

    svg {
      color: var(--primary);
    }
  }
}
