.header {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);

  svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  img {
    border-radius: 100px;
  }
}
